*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #303030;
}

a{
    text-decoration: none;
}
a:hover{
    opacity:0.9;
}

a:active{
    opacity:1;
}
li{
    list-style: none;
}
.App{
    margin-top: 50px;
}
.search{
    font-size: 18px;
    padding: 15px;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    background-color: white;
    border-radius: 30px;
    border: none;
}

.movies{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-items: center;
 margin-top: 50px;
}

.movies li{
    width:18%;
    height:300px;
    margin-bottom: 30px;
    position: relative;
}
.movies li:hover{
    box-shadow: 0px 0px 5px 3px white;
}
.movies li img{
    width:100%;
    height: 90%;
}
.movies li p{
    font-size: 16px;
    padding: 22px;
    font-weight: 700;
    background: rgba(255,255,255,0.6);
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
}
.movies li:hover p{
    display: block;
}